/*login page design*/
/*main colours used #000000 - the salmon pink ; #f8f8ff - the light pink*/
#anchorPaneLogin {
  -fx-background-color: #f8f8ff;
}

#userLogin{
 -fx-font-family: Georgia, serif;
 -fx-font-size: 70px;
 -fx-text-fill: #000000;

}

#titleLogin{
 -fx-font-family: Georgia;
 -fx-font-size: 80px;
 -fx-font-weight :900;
 -fx-font-color :#00008b;
 -fx-text-fill: #f8f8ff;
}

#usernameLogin{
 -fx-font-family: Georgia, serif;
 -fx-font-size: 30px;
 -fx-font-weight : 500;
 -fx-text-fill: #000000;
}

#passwordLogin{
 -fx-font-family: Georgia, serif;
 -fx-font-size: 30px;
 -fx-font-weight : 500;
 -fx-text-fill: #000000;
}

#amButton{
 -fx-font-family: Georgia, serif;
 -fx-color:black;
 -fx-padding:5px;
 -fx-background-color: #000000;
 -fx-background-radius: 10px;
 -fx-font-size: 20px;
}

#atcButton{
 -fx-font-family: Georgia, serif;
 -fx-color:black;
 -fx-padding:5px;
 -fx-background-color: #000000;
 -fx-background-radius: 10px;
 -fx-font-size: 20px;
}

#usernameField{
  -fx-color:black;
  -fx-padding:5px;
  -fx-background-color: #f8f8ff;
  -fx-background-radius: 10px;
  -fx-prompt-text-fill: #000000;
  -fx-prompt-text-size: 20px;
  -fx-effect: dropshadow( two-pass-box ,#000000, 1.5, 10 , 1 , 1);
}

#passwordField{
 -fx-color:black;
 -fx-padding:5px;
 -fx-background-color: #f8f8ff;
 -fx-background-radius: 10px;
 -fx-prompt-text-fill: #000000;
 -fx-prompt-text-size: 20px;
 -fx-effect: dropshadow( two-pass-box ,#000000 , 1.5, 10 , 1 , 1);
}

/*am design*/


